<li class="relative flex gap-x-4"
    data-controller="<%= "comment" if comment.parent_id.nil? %>">
  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
    <div class="w-px bg-gray-200"></div>
  </div>
  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-gray-100">
    <div class="h-1.5 w-1.5 rounded-full bg-primary ring-1 ring-gray-300"></div>
  </div>

  <%= link_to user_path(comment.user), data:{turbo: false} do %>
    <%= render partial: "users/avatar", locals: {user: comment.user, size: 8, classes: "flex items-center justify-center bg-gray-400"}  %>
  <% end %>

  <div class="flex-1">
    <div class="flex items-center space-x-3 mb-3">
      <div class="py-0.5 text-sm font-bold leading-5 text-gray-500">
        <%= link_to user_path(comment.user), data:{turbo: false}, class: "font-medium text-gray-900"  do %>
          <%= comment.user.username %>
        <% end %>
      </div>
      <div class="border-l w-1.5 h-1.5 bg-black rounded-full"></div>
      <time class="flex-none py-0.5 text-xs leading-5 text-gray-500" pubdate datetime="2022-02-12" title="<%= l comment.created_at, format: :long %>">
        <%= l comment.created_at, format: :short %>
      </time>
    </div>

    <p class="text-gray-500 dark:text-gray-400 p-3 border rounded-lg">
      <%= comment.content_linkify %>
    </p>

    <div class="flex items-center mt-4 space-x-4">
      <% if user_signed_in? %>
        <%= link_to "#",
                    class: "flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium",
                    data: {action: "click->comment#display"} do %>
          <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
          </svg>
          Répondre
        <% end %>
      <% end %>
    </div>

    <div class="my-6 lg:ml-12">
      <%= turbo_frame_tag "#{dom_id(comment)}_comments", src: comment_path(comment) %>
      <%= render partial: "comments/form", locals: {commentable: comment, comment: Comment.new, class: 'hidden'} if comment.parent_id.nil? && user_signed_in? %>
    </div>
  </div>
</li>
