<%
=begin%>
 <%= turbo_stream_from comment %>
<%
=end%>
<%= turbo_frame_tag comment do %>
  <div class="flex mt-5 mb-7" data-controller="comment">
    <div class="mr-4">
      <a href="<%= user_url(comment.user) %>" data-turbo="false">
        <%= render partial: "users/avatar", locals: {user: comment.user, size: :large} %>
      </a>
    </div>
    <div class="w-3/4">
      <p class="tile-title -mt-2">
        <a href="<%= user_url(comment.user) %>" class="font-bold" data-turbo="false"><%= comment.user.username %></a>
        <small>le <%= comment.created_at %></small>
      </p>
      <p class="tile-subtitle mb-2">
          <%= comment.body %>
      </p>


      <p class="text-sm uppercase font-bold mt-3">
        <% if comment.parent_id.nil? %>
            <%= link_to "Répondre", "#", data: {action: "click->comment#display"} if user_signed_in? %>
        <% end %>
        <% if can? :manage, comment %>
          <%= '|' if comment.parent_id.nil? %>
          <%= link_to "Modifier", edit_comment_path(comment) %>
          <%= link_to "Supprimer", comment_path(comment), method: :delete, data: {confirm: "Tu es sûr(e) ?"} %>
        <% end %>
      </p>

      <!-- COMMENT REPLY SECTION -->
      <div id="<%= dom_id(comment) %>_comments">
          <%= render partial: "comments/comment",
              collection: comment.comments, as: :comment  %>
      </div>

      <%= render partial: "comments/form",
              locals: {commentable: comment, comment: Comment.new,
              data: {comment_target: "form"}, class: 'hidden'} if comment.parent_id.nil? && user_signed_in? %>
    </div>
  </div>
<% end %>
