<% model = [local_assigns[:commentable], comment].compact %>
<%= form_with model: model, 
    id: record_id_gen(*model),
    data: local_assigns[:data], class: "comment_form #{local_assigns[:class]}"  do |f| %>

    <% # ERRORS
    if f.object.errors.any? %>
        <div class="alert bg-error">
            <% f.object.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
            <% end %>
        </div>
    <% end %>
    
    <div class="form-group">
        <%= f.label "Votre commentaire", class: "form-label" %> <br>
        <%= f.text_area :body, class: "form-input" %>
    </div>
    <div class="from-group">
        <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn", data: {action: "click->comment#submit"} %>
        <%= link_to "Annuler", comment, class: "btn"  %>
    </div>
<% end %>