<%= form_with(model: version, local: true) do |form| %>
  <% if version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
        <% version.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice.present? %>
    <div class="toast toast-primary">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

  <%= form.hidden_field :exercise_id %>

  <div class="field form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-input'  %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: 'form-label'  %>
    <%= form.text_area :description, class: 'form-input'   %>
  </div>

  <div class="field form-group">
    <%= form.label "vidéo (lien de partage youtube)", class: "form-label"  %>
    <%= form.text_field :video_link, class: "form-input"  %>
  </div>

  <% if can? :update, @version, :published %>
    <div class="field form-group">
        <label class="form-label">
          <%= form.check_box :published %><i class="form-icon"></i>
          <%= form.label :published %>
        </label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Envoyer' , class: 'btn btn-primary' %>
  </div>
<% end %>
