<%= form_for exercise_versions_path(exercise_id: @exercise.id, id: @version.id) do |form| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this @version from being saved:</h2>

      <ul>
        <% @version.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice.present? %>
    <div class="toast toast-primary">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

  <%= form.hidden_field :exercise_id %>

  <div class="mb-6">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-input'  %>
  </div>

  <div class="mb-6">
    <%= form.label :description, class: 'form-label'  %>
    <%= form.text_area :description, class: 'form-input'   %>
  </div>

  <div class="mb-6">
    <%= form.label "vidéo (lien de partage youtube)", class: "form-label"  %>
    <%= form.text_field :video_link, class: "form-input"  %>
  </div>

  <% if can? :update, @version, :published %>
    <div class="mb-6">
        <label class="form-label">
          <%= form.check_box :published %><i class="form-icon"></i>
          <%= form.label :published %>
        </label>
    </div>
  <% end %>

  <div class="flex space-x-4">
    <%= form.submit 'Envoyer' , class: 'btn btn-primary' %>
    <%=  link_to 'Retour', exercise_versions_path(exercise_id: @exercise.id), class:"btn-secondary" %>
  </div>
<% end %>
