
<%= turbo_frame_tag "exercise_versions" do %>
  <% if versions.present? %>
    <ul class="divide-y divide-gray-200">
      <% versions.each do |version| %>
        <li class="block py-3 pl-6 hover:bg-gray-50">
          <div class="flex items-center">
            <div class="flex flex-1 min-w-0">
              <div class="flex-shrink-0">
                <a href="<%= user_path(version.user.id) %>" data-turbo="false">
                  <%= render partial: "users/avatar", locals: {user: version.user, size: 10, square: true} %>
                </a>
              </div>
              <div class="flex-1 px-4 min-w-0">
                <p class="-mt-1 font-medium">
                  <%= link_to version.title, exercise_path(version, view: "version"), data: {
                    video_id: version.video_link,
                    action: 'click->application#showVersion'
                    } %>
                </p>
                <p class="text-xs font-light truncate">
                  publié par <%= link_to version.user.username, user_path(version.user.id), data: {turbo: false}  %>
                  <% if !version.published %>
                    ( En cours de validation  )
                  <% end %>
                </p>
                <p class="mt-1 text-sm truncate">
                  <%= version.description %>
                </p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="p-6 text-xs text-gray-500 text-light">
      Aucune version alternative
    </p>
  <% end %>
<% end %>
