
<%= turbo_frame_tag "exercise_versions" do %>
  <div class="panel-header">
    <p class="text-gray-600 font-light">Pour aller plus loin, découvrez des variantes de cet exercice partagées par d'autres utilisateurs.</p>
  </div>
  <ul class="divide-y divide-gray-200 mt-6">
    <% versions.each do |version| %>
      <li class="py-4 <%=  "bg-secondary" if !version.published %>">
        <div class="flex space-x-4">
          <div class="flex-shrink-0">
            <a href="<%= user_path(version.user.id) %>" data-turbo="false">
              <%= render partial: "users/avatar", locals: {user: version.user, size: :small} %>
            </a>
          </div>
          <div class="flex-1 min-w-0">
            <p class="font-medium text-gray-900 truncate -mt-1">
              <%= link_to version.title, exercise_path(version, view: "version"), data: {
                video_id: version.video_link,
                action: 'click->application#showVersion'
                } %>
            </p>
            <p class="text-xs text-gray-500 font-light truncate">
              publié par <%= link_to version.user.username, user_path(version.user.id), data: {turbo: false}  %>
              <% if !version.published %>
                ( En cours de validation par l'auteur de l'exercice )
              <% end %>
            </p>
            <p class="mt-1 text-sm text-gray-600 font-light line-clamp-2">
              <%= version.description %>
            </p>
          </div>
          <div class="self-center">
            <%= link_to "Voir", exercise_path(version, view: "version"), data: {
              video_id: version.video_link,
              action: 'click->application#showVersion'
            }, class: "inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="mt-6 text-center">
    <!-- buttons or inputs -->
    <%= link_to "Proposez votre version", new_exercise_path(exercise_id: exercise), class: 'btn btn-secondary' if current_user.present? %>
  </div>
<% end %>
