
<%= turbo_frame_tag "exercise_versions" do %>
  <div class="panel">

    <div class="panel-header">
        <div class="tile">
            <div class="tile-icon">
                <a href="<%= user_path(@exercise.user.id) %>" data-turbo="false">
                  <%= render partial: "users/avatar", locals: {user: @exercise.user} %>
                </a>
            </div>
            <div class="tile-content">
                <%= link_to "close", list_versions_path(id: @exercise.original), class: "float-right", data: {
                    video_id: @exercise.original.video_link,
                    action: 'click->application#showVersion'
                  }
                %>
                <p class="tile-title mb-0">
                    <strong><%= @exercise.title %></strong> <br> <small>Publié
                    par <%= link_to @exercise.user.username, user_path(@exercise.user.id), data: {turbo: false}  %></small>
                </p>
            </div>
        </div>
    </div>

    <div class="panel-body">
      <div id="notice" class="toast toast-success">
        <button class="btn btn-clear float-right"></button>
        <%= notice %>
      </div>
      <p>
        <%= @exercise.description %>
      </p>
    </div>

    <div class="panel-footer">
      <% if can? :manage, @exercise %>
        <%= link_to 'Edit', edit_exercise_path(@exercise) %> | <%= link_to 'Destroy', @exercise, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
