<%= form_with(url: search_exercises_path) do |form| %>
  <div class="mb-6">
    <h3 class="text-2xl mb-3">Visibilité</h3>
    <ul class="exercises-index__content__aside__visibility-filter">
      <li class="mb-1">
        <label>
          <%= form.radio_button :visibility, "all", checked: true, data: {action: "change->hello#search"}, class: "mr-2" %>
          Tous les exercices
        </label>
      </li>
      <li class="mb-1">
        <label>
          <%= form.radio_button :visibility, "friends", data: {action: "change->hello#search"}, class: "mr-2" %>
          Amis uniquement
        </label>
      </li>
    </ul>
    <div class="divider"></div>
  </div>
  <div class="mb-6">
    <h3 class="text-2xl mb-3">Niveaux</h3>
    <ul class="exercises-index__content__aside__levels-filter">
      <% Exercise.levels.each do |level| %>
        <li class="mb-1">
          <label>
            <%= form.check_box :levels, {
                  multiple: true,
                  data: {action: "change->hello#search"}, class: "mr-2"
                },
                level.second,
                false %>
            <i class="form-icon"></i>
            <%= level.first %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
