<div class="card exercise-card">
  <div class="card-header">
    <!-- user info -->
    <small class="tile">
      <a href="<%= user_url(exercise.user) %>" data-turbo="false" class="tile-icon">
        <%= render partial: "users/avatar", locals: {user: exercise.user, size: :small} %>
      </a>

      <div class="tile-content pl-3">
        <p class="tile-title mb-0">
          <%= link_to exercise.user.username, user_path(exercise.user), data: {turbo: false}  %> le <%= l exercise.created_at, format: :short %></p>
      </div>
    </small>
    <!-- end user info -->
  </div>
  <div class="card-image">
    <% if current_user %>
      <%= render partial: "shared/practicer/practice_toolbar", locals: {exercise: exercise } %>
    <% end %>
    <div class="exercise-card__categories">
      <% exercise.categories.each do |category| %>
        <a href="<%= by_slug_categories_path category.slug %>" title="<%= category.description %>"  data-turbo="false" class="chip"><%= category.name %></a>
      <% end %>
    </div>
    <% img_link = exercise.video_link.present? ? "//img.youtube.com/vi/#{exercise.video_link}/0.jpg" : "https://via.placeholder.com/800x440.png" %>
    <%= image_tag img_link, class: "img-responsive", alt: exercise.title %>
  </div>

  <div class="card-body">
    <h2 class="card-title h5">
      <%= link_to exercise.title, exercise, data: {turbo: false} %>
    </h2>
    <p class="card-subtitle  text-gray"><%= exercise.description.truncate(50) if exercise.description %></p>
  </div>

  <div class="card-footer">
    <% if exercise.level %>
      <p class="mb-0">
        <i class="mdi mdi-arm-flex"></i> Niveau:  <%= exercise.level %>
      </p>
    <% end %>
    <% if exercise.duration %>
      <p class="mb-0">
        <i class="mdi mdi-timer-sand"></i> Durée:  <%= Time.at(exercise.duration).utc.strftime("%H:%M") %>
      </p>
    <% end %>
    <p class="mb-0">
      <i class="mdi mdi-forum-outline"></i> Commentaires:  <%= exercise.comments.count %>
    </p>

<%
=begin %>
    <% if can? :manage, exercise && false %>
      <%= link_to 'Edit', edit_exercise_path(exercise), data: {turbo: false}  %> | <%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%
=end %>

  </div>
</div>
