<section>
  <header class="mb-10">
    <h1 class="text-4xl font-semibold">Votre espace</h1>
  </header>

  <section class="mb-10 sm:flex sm:space-x-6">
    <!-- stats by week -->
    <article class="p-4 rounded-md border shadow-sm bg-primary sm:w-3/6 text-white">
      <h2 class="mb-6 text-lg font-semibold">Ces 7 derniers jours</h2>
      <div class="flex justify-center items-center space-x-6">
        <% if current_user.practice_time_this_week.present? %>
          <div class="w-3/6">
            <h2 class="text-4xl font-bold">
              <%= Time.at(current_user.practice_time_this_week.values.reduce(:+) / 7).utc.strftime("%H:%M:%S")%>
            </h2>
            <p>Temps de pratique moyen</p>
          </div>
          <div class="mt-0 mt-10 w-3/6">
            <stat-box
              labels="<%= current_user.practice_time_this_week.keys.map{ |date| date.to_datetime }.to_json %>"
              values="<%= current_user.practice_time_this_week.values.to_json %>"
              type="line">
            </stat-box>
          </div>
        <% else %>
          <p style="display:block; width: 100%">
            Aucune donnée disponible pour afficher les statistiques hebdomadaire...
          </p>
        <% end %>
      </div>
    </article>
    <!-- end stats by week -->

    <!-- stats by category -->
    <article class="p-4 bg-orange-200 rounded-md border shadow-sm sm:w-3/6">
      <div class="mb-6">
        <h2 class="text-lg font-semibold">Répartition par catégorie</h2>
      </div>
      <div class="flex">
        <% if current_user.practice_time_by_category.present? %>
          <stat-box
            labels="<%= current_user.practice_time_by_category.keys.to_json %>"
            values="<%= current_user.practice_time_by_category.values.to_json %>"
            type="doughnut">
          </stat-box>
        <% else %>
          <p style="display:block; width: 100%">
            Aucune donnée disponible pour afficher les statistiques par catégorie...
          </p>
        <% end %>
      </div>
    </article>
    <!-- end stats by category -->
  </section>
</section>
