<section class="mr-6">
  <header class="mb-6 border px-4 py-6 rounded-lg flex space-x-3 bg-primary text-white">
    <div>
      <h1 class="text-4xl font-semibold mb-3">Bonjour <%= current_user.username.capitalize %></h1>
      <p>Bienvenue sur votre espace personnel. Ici, vous trouverez les statistiques en temps réeel de votre pratique mais aussi des conseils et des idées pour vous améliorer.</p>
    </div>
  </header>

  <section class="mb-6 sm:flex sm:space-x-6 justify-between">
    <div class="border rounded-lg p-4 bg-white shadow">
      <p>10 mn de pratique</p>
    </div>
    <div class="border rounded-lg p-4 bg-white shadow">
      <p>1 exercice dans chaque catégorie</p>
    </div>
    <div class="border rounded-lg p-4 bg-white shadow">
      <p>3 exercices différents</p>
    </div>
  </section>

  <section class="mb-6 sm:flex sm:space-x-6">
    <!-- stats by category -->
    <article class="p-4 rounded-lg border bg-white shadow sm:w-2/6">
      <div class="mb-6">
        <h2 class="text-lg font-semibold">Répartition par catégorie</h2>
      </div>
      <div class="flex">
        <% if current_user.practice_time_by_category.present? %>
          <stat-box
            labels="<%= current_user.practice_time_by_category.keys.to_json %>"
            values="<%= current_user.practice_time_by_category.values.to_json %>"
            type="doughnut">
          </stat-box>
        <% else %>
          <p style="display:block; width: 100%">
            Aucune donnée disponible pour afficher les statistiques par catégorie...
          </p>
        <% end %>
      </div>
    </article>
    <!-- end stats by category -->

    <!-- stats by week -->
    <article class="p-4 rounded-lg border shadow bg-white sm:w-4/6">
      <h2 class="mb-6 text-lg font-semibold">Ces 7 derniers jours</h2>
      <div class="mt-10">
        <% if current_user.practice_time_this_week.present? %>
          <stat-box
            labels="<%= current_user.practice_time_this_week.keys.map{ |date| date.to_datetime }.to_json %>"
            values="<%= current_user.practice_time_this_week.values.to_json %>"
            type="line">
          </stat-box>
        <% else %>
          <p style="display:block; width: 100%">
            Aucune donnée disponible pour afficher les statistiques hebdomadaire...
          </p>
        <% end %>
      </div>
    </article>
    <!-- end stats by week -->
  </section>
</section>
