<section class="user-show">
    <header class="hero mb-2 container">
        <div class="hero-body columns">
            <%= render partial: "users/avatar", locals: {user: @user, size: :xlarge} %>
            <div class="user-show__header">
                <h1 class="my-0"><%= @user.username %></h1>
                <p class="pt-0">Membre depuis <%= @user.created_at %></p>
                <p class="pt-0 mb-0">Amis: </p>
                <%= render partial: "users/friendships/preview-list", locals: {user: @user} %>
            </div>
        </div>
    </header>
    <section class="container columns py-2">
        <article class="column">
            <div class="card">
                <div class="card-header">
                    <h2>Exercices publiés: </h2>
                </div>
                <div class="card-body">
                    <% if @user.exercises.for_current_user(current_user) %>
                        <%= render partial: 'exercises/list_compact',
                            locals: {exercises: @user.exercises.for_current_user(current_user)} %>
                    <% else %>
                        <p>Aucun exercice publié par cet utilisateur pour le moment.</p>
                    <% end %>
                </div>
            </div>
        </article>
        <aside class="column col-4">
            <div class="card mb-2">
                <div class="card-header">
                    <div class="card-title h5">Bio et autres informations</div>
                </div>
                <div class="card-body">
                  <p><%= @user.bio %></p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Derniers commentaires et réponses</div>
                </div>
                <div class="card-body">
                    <% if @user.comments.present? %>
                        <ul>
                            <% @user.comments.group_by(&:commentable_id).each do |commentable_id, commentable| %>
                                <li>
                                    <%=  link_to commentable.first.commentable.title, commentable.first.commentable, title: 'Voir l\'exercice' %>
                                    <ul>
                                        <% commentable.each do |comment| %>
                                            <li><%= comment.body %></li>
                                        <% end %>
                                    </ul>
                                </li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>Aucun commentaire...</p>
                    <% end %>
                </div>
            </div>
        </aside>
    </section>
</section>

