<header class="navbar container">
    <section class="navbar-section">
        <%= link_to "Accueil", :root, class: "btn btn-link" %>
    </section>
    <section class="navbar-center">
        <a href="<%= root_path %>">
            <img src="https://picturepan2.github.io/spectre/img/spectre-logo.svg" alt="Spectre.css">
        </a>
    </section>
    <section class="navbar-section">
      <% if user_signed_in? %>
          <%= render partial: "shared/user_dropdown" %>
      <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-link"  %> 
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-link"  %>
      <% end %>
    </section>
</header>