<aside class="practice-sidebar close" 
    data-controller="practicer-sidebar tabs"
    data-practicer-sidebar-target="container">
    <a class="practice-sidebar__close" data-action="click->practicer-sidebar#toggle">close</a>
    <div class="practice-sidebar__content panel">
        <header class="text-center panel-header">
            <figure class="avatar avatar-lg">
                <a href="<%= user_url(current_user) %>">
                    <img src="https://picturepan2.github.io/spectre/img/avatar-2.png" alt="Avatar">
                </a>
            </figure>
            <h3 class="panel-title  h5 mt-2">
                <a href="<%= user_url(current_user) %>">
                    <%= current_user.username %>
                </a>
            </h3>
            <p class="panel-subtitle">VOTRE PRATIQUE DU JOUR</p>
        </header>

        <tabs-section tab-list-class="tab tab-block" tab-link-class="tab-item">

            <nav class="panel-nav" slot=nav></nav>

            <ul class="tile-list" data-tab-title="Aujourd'hui" slot="tab"
                data-tabs-target="tab" data-practicer-sidebar-target="exercises">
              <%= render partial: "sessions_of_the_days/list" %>
            </ul>

            <ul class="tile-list" data-tab-title="Challenges" slot="tab"
                data-tabs-target="tab" data-practicer-sidebar-target="challenges">
              <li><b>Partie non développée pour le moment...</b><br> Patience :) !</li>
            </ul>

            <ul class="tile-list" data-tab-title="Vos favoris" slot="tab"
                data-tabs-target="tab" data-practicer-sidebar-target="favorites">
              <%= render partial: "shared/user_favorite", collection: current_user.favorites_populated, as: :exercise  %>
            </ul>

        </tabs-section>

        <div class="panel-footer">
            
        </div>
    </div>
</aside>