<ul role="list" class="divide-y divide-gray-200">
    <% media.each do |medium| %>
      <li class="flex relative items-center p-4 hover:bg-gray-50">
        <div class="flex flex-1 items-center min-w-0">
          <div class="hidden flex-shrink-0 md:block">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
            </svg>
          </div>
          <div class="flex-1 px-4 min-w-0">
            <p class="overflow-hidden m-0 text-sm font-medium text-gray-900 text-ellipsis">
              <%= link_to medium.file.filename, url_for(medium.file), { target: '_blank', data: {turbo: false}, class: "block px-4 py-2 text-sm text-gray-700" } %>
            </p>
            <p class="text-xs font-light text-gray-500">
              <%= medium.file.metadata['size'] %> Octets · Public · <%= medium.created_at %>
            </p>
          </div>
        </div>

        <div class="relative" data-controller="dropdown" data-dropdown-toggle-class="hidden">
          <button type="button" data-dropdown-target="button"
            data-action="click->dropdown#toggle"
            class="flex items-center text-gray-400 bg-gray-100 rounded-full hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
            <span class="sr-only">Open options</span>
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
            </svg>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden absolute right-0 z-10 mt-2 w-56 bg-white rounded-md ring-1 ring-black ring-opacity-5 shadow-lg origin-top-right focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <%= link_to "Ouvrir", url_for(medium.file), { target: '_blank', data: {turbo: false}, class: "block px-4 py-2 text-sm text-gray-700" } %>
              <%= link_to "Téléchargement", medium.file, { target: '_blank', data: {turbo: false}, download: true, class: "block px-4 py-2 text-sm text-gray-700" } %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
</ul>
