<ul role="list" class="divide-y divide-gray-200">
    <% media.each do |medium| %>
      <li class="block flex relative items-center p-4 hover:bg-gray-50">
        <div class="flex flex-1 items-center min-w-0">

          <div class="hidden flex-shrink-0 md:block">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
            </svg>
          </div>

          <div class="flex-1 px-4 min-w-0">
            <p class="overflow-hidden m-0 text-sm font-medium text-gray-900 text-ellipsis">
              <%= medium.name %> (<%= medium.file.filename %>)
            </p>
            <p class="text-xs font-light text-gray-500">
              <%= medium.file.metadata['size'] %> Octets · Public · <%= medium.created_at %>
            </p>
          </div>
        </div>

        <div class="group">
          <button class="btn btn-link dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
          <ul class="hidden absolute right-0 p-3 space-y-3 w-40 bg-white rounded-md ring-1 ring-black ring-opacity-5 shadow-2xl origin-top-right group-hover:block focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button" tabindex="-1">
            <li>
              <%= link_to "Ouvrir", url_for(medium.file), { target: '_blank', data: {turbo: false} } %>
            </li>
            <li>
              <%= link_to "Téléchargement", medium.file, { target: '_blank', data: {turbo: false}, download: true } %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>
</ul>
