<%
  btn_friendship = "add_friend"
  friendship = nil
  if current_user.following?(user)
    friendship = current_user.find_friendship(user)
    btn_friendship = "remove_friend"
  else
    pending = current_user.pending_requests.find_by(receiver_id: user.id)
    invitation = current_user.pending_invitations.find_by(receiver_id: user.id)
    if pending
      btn_friendship = "cancel_request"
    elsif invitation
      btn_friendship = "accept_invitation"
    end
  end
%>

<%= turbo_frame_tag "friendship_btns" do %>
  <%
    case btn_friendship
    when "add_friend"
      %>
        <%= link_to friendship_request_path(user_id: user.id), method: :post, class: "btn-secondary rounded flex space-x-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
          </svg>
          <span class="block self-center">
            Demande d'amis
          </span>
        <% end %>
      <%
    when "remove_friend"
      %>
        <%= link_to remove_friendship_path(id: friendship.id), method: :delete, class: "btn-secondary rounded flex space-x-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
          </svg>
          <span class="block self-center">
            Supprimer de mes amis
          </span>
        <% end %>
      <%
    when "cancel_request"
      %>
        <%= link_to remove_friendship_path(id: pending.id), method: :delete, class: "btn-secondary rounded flex space-x-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="block self-center">
            Annuler la demande
          </span>
        <% end %>
      <%
    when "accept_invitation"
      %>
        <%= link_to accept_friendship_path(id: invitation.id), method: :put, class: "btn-secondary rounded flex space-x-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="block self-center">
            Accepter l'invitation
          </span>
        <% end %>
      <%
    end
  %>
<% end %>
