
<%= turbo_frame_tag "exercise_versions" do %>
  <div class="panel">

    <div class="panel-header">
        <div class="tile">
            <div class="tile-icon">
                <a href="<%= user_path(@version.user.id) %>" data-turbo="false">
                    <figure class="avatar"></figure>
                </a>
            </div>
            <div class="tile-content">
                <a href="<%= list_versions_path(@version.exercise) %>" class="float-right">
                  <i class="icon icon-cross"></i>
                </a>
                <p class="tile-title mb-0">
                    <strong><%= @version.title %></strong> <br> <small>Publié 
                    par <%= link_to @version.user.username, user_path(@version.user.id), data: {turbo: false}  %></small>
                </p>
            </div>
        </div>
    </div>

    <div class="panel-body">
      <p id="notice"><%= notice %></p>

      <%
=begin%>
 <p>
        <strong>Exercise:</strong>
        <%= @version.exercise_id %>
      </p> 
<%
=end%>
      <p>
        <%= @version.description %>
      </p>

    </div>

    <div class="panel-footer">
      <%= link_to 'Edit', edit_version_path(@version) %> | <%= link_to 'Destroy', @version, method: :delete, data: { confirm: 'Are you sure?' } %> 
    </div>
  </div>
<% end %>
