<li class="px-6 mb-6 border-l">
  <div class="flex-1 self-center">
    <p class="text-xs font-medium text-gray-500">
      <time class="session__time"><%= l session.created_at, format: '%H:%M:%S' %></time></span>:
      <%= session.practices_exercises.count %> exercices
    </p>
    <ul class="mt-3">
      <% session.practices_exercises.each_with_index do |practiced, index| %>
        <%= turbo_frame_tag "practices_exercises_#{practiced.id}" do %>
          <li class="flex mb-3 space-x-3"
            data-practices-target="exercise" data-duration="<%= practiced.duration %>">
            <div class="flex-1">
              <div class="flex space-x-3">
                <div class="flex flex-col justify-center items-center p-2 text-white rounded-xl bg-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                </div>
                <div class="flex-1">
                  <div class="block flex text-xs text-gray-300">
                    <%= Time.at(practiced.duration).utc.strftime("%H:%M:%S") %>
                    <%
=begin%>
 <ul class="flex space-x-1 ml-1 before:content-['|'] before:pr-1">
                      <% practiced.exercise.categories.each do |category| %>
                        <li>
                          <%= link_to category.name, by_slug_categories_path(category.slug), data: {turbo: false} %>
                        </li>
                      <% end %>
                    </ul>
<%
=end%>
                  </div>
                  <%= link_to practiced.exercise.title, exercise_path(practiced.exercise), data: {turbo: false}, class: "text-sm block flex-1 self-center" %>
                </div>
                <%= link_to remove_from_practice_path(
                  practices_exercises_id: practiced.id),
                  method: :delete, class: "self-center" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</li>
