<%= turbo_frame_tag "practices_of_the_day" do %>
  <ul role="list" class="-mb-8 border-t pt-6">
    <li>
      <div class="relative pb-8">
        <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
          <div class="relative">
            <div class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </div>
          </div>
          <div class="min-w-0 flex-1 self-center">
            <div class="text-lg">
              <a href="#" class="font-bold text-gray-900"><%= current_user.practice_time_today %></a>
            </div>
            <p class="mt-0.5 text-sm text-gray-500">
            de pratique
            <%=
              if practices_of_the_day.first.nil? || practices_of_the_day.first.created_at == Date.today
                "aujourd'hui"
              else
                "le #{practices_of_the_day.first.created_at.strftime("%d/%m/%Y")}"
              end
            %>
            </p>
          </div>
        </div>
      </div>
    </li>

    <% if practices_of_the_day.present? %>
      <% practices_of_the_day.each_with_index do |practice, index| %>
        <%= turbo_frame_tag "practice_#{practice.id.to_s}" do %>
          <%= render partial: "practices/item",
            locals: {
              session: practice
            }
          %>
        <% end %>
      <% end %>
    <% end %>

  </ul>
<% end %>
