<%
  current_date = nil if local_assigns[:current_date].nil?
  first_day = current_week.first
  current_month = current_week.first.month
  current_year = current_week.first.year
%>
<%= turbo_frame_tag "practices_selector", target: "practices_selector"  do %>
  <div class="mb-8">
    <nav class="flex space-x-3 mb-4 items-center">
      <span class="text-lg font-bold flex-1"><%= I18n.t("date.month_names")[current_month] %> <%= current_year %></span>
      <div class="flex space-x-3 items-center">
        <%= link_to get_week_path(previous_next: 'previous', date: first_day), class: "bg-gray-300 text-white p-1 rounded-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
          </svg>
        <% end %>
        <%= link_to get_week_path(previous_next: 'next', date: first_day), class: "bg-gray-300 text-white p-1 rounded-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        <% end %>
      </div>
    </nav>
    <div class="text-center flex justify-center items-center w-full">
      <% current_week.each do |day|
        with_data = practices_for_the_week.select { |p| p.created_at.all_day == day.all_day }.present?
        today = day.strftime("%Y-%m-%d") == Date.today.strftime("%Y-%m-%d")
        it_current_date = day.strftime("%Y-%m-%d") == current_date.strftime("%Y-%m-%d") if current_date
      %>
        <%= link_to with_data || today ? get_day_path(date: day) : 'javascript:;',
          class: "flex-1 p-1 rounded-full #{ "bg-gray-700" if today } #{ "border border-primary" if it_current_date }",
          data: {
            pratices_target: "dateLink",
            date: day.strftime("%Y-%m-%d")
          } do %>
          <span class="block text-sm <%= "text-white" if today  %>"><%= Date::ABBR_DAYNAMES[day.wday][0,4] %></span>
          <span class="block text-sm bg-white rounded-full py-1 px-2 relative">
            <% if with_data %>
              <span class="<%= "block absolute bottom-5 left-5 content-[''] bg-primary w-2 h-2 rounded-full" %>"> </span>
            <% end %>
            <%= day.day %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
