<%= turbo_stream.replace "practices_of_the_day" do %>
  <%= render partial: "practices/list", locals: {
    practices_of_the_day: current_user.practices_of_the_day
  } %>
<% end %>

<%= turbo_stream.replace "practice_time_today" do %>
  <%= turbo_frame_tag "practice_time_today" do %>
    <p class="flex space-x-3 py-2 px-6 rounded-full bg-primary text-white font-medium">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span><%= current_user.practice_time_today %></span>
    </p>
  <% end %>
<% end %>
