<%= turbo_stream.replace "practice_time_today" do %>
  <%= turbo_frame_tag "practice_time_today" do %>
    <p class="flex px-6 py-2 space-x-3 font-medium text-white rounded-full bg-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span><%= current_user.practice_time_today %></span>
    </p>
  <% end %>
<% end %>


<% if @practices_exercise.practice.practices_exercises.count <= 0 %>
  <%= turbo_stream.remove "practice_#{@practices_exercise.practice.id}" %>
<% else %>
  <%= turbo_stream.remove "practices_exercises_#{params[:practices_exercises_id]}" %>
<% end %>
