<div class="practice-sidebar">
  <div class="practice-sidebar__content panel">
    <button class="practice-sidebar__close" data-action="application#togglePracticerSidebar">
      <i class="mdi mdi-close"></i>
    </button>
    <button class="practice-sidebar__link" data-action="application#togglePracticerSidebar">Practicer</button>
    <% if current_user %>
      <header class="panel-header">
        <div class="panel-title hide">
          <a href="/">
            Prm.
          </a>
        </div>
        <div class="text-center mt-2 py-2">
          <%= link_to dashboard_path, class: "my-2" do %>
            <%= render partial: "users/avatar", locals: {user: current_user, size: :xlarge} %>
          <% end %>
          <br>
          <p class="mt-2">
            Connecté en tant que
            <%= link_to dashboard_path do %>
              <%= current_user.username %>
            <% end %>
          </p>
        </div>
      </header>
      <div class="panel-nav">

      </div>
      <div class="panel-body pt-0">
        <tabs-section tab-list-class="tab tab-block" tab-link-class="tab-item">
          <div class="practice-sidebar__content__widget sessions"  data-tab-title="Aujourd'hui" slot="tab">
            <%= render partial: "practices/list", locals: {practices_of_the_day: current_user.practices_of_the_day} %>
          </div>

          <div class="practice-sidebar__content__widget favorites" data-tab-title="Vos favoris" slot="tab">
            <ul class="tile-list practice-sidebar__favorites" data-tab-title="Vos favoris" slot="tab" data-tabs-target="tab">
              <%= render partial: "users/favorite", collection: current_user.favorites_populated, as: :exercise  %>
            </ul>
          </div>
        </tabs-section>
      </div>

      <div class="panel-footer">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="mdi mdi-logout"></i> Se déconnecter
        <% end %>
      </div>
    <% else %>
      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-3x icon-people"></i>
        </div>
        <p class="empty-title h5">Pratiquez avec nous !</p>
        <p class="empty-subtitle">
          Vous devez être inscrit pour pouvoir utiliser l'outil de pratique intégré.
        </p>
        <div class="empty-action">
          <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary"  %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-link"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
