<aside class="practice-sidebar close"
    data-controller="practicer-sidebar tabs"
    data-practicer-sidebar-target="container">
    <a class="practice-sidebar__close" data-action="click->practicer-sidebar#toggle">close</a>
    <div class="practice-sidebar__content panel">
        <header class="text-center panel-header">
            <a href="<%= user_url(current_user) %>">
                <%= render partial: "users/avatar", locals: {user: current_user, size: :xlarge} %>
            </a>
            <h3 class="panel-title h5 mt-2">
                <a href="<%= user_url(current_user) %>">
                    <%= current_user.username %>
                </a>
            </h3>
            <p class="panel-subtitle">
                VOTRE PRATIQUE DU JOUR<br>
                <span class="practice-sidebar__practice-time"
                    data-practicer-sidebar-target="practiceTime">
                    00:00:00
                </span>
            </p>
        </header>

        <tabs-section tab-list-class="tab tab-block" tab-link-class="tab-item">

            <nav class="panel-nav" slot=nav></nav>

            <div data-tab-title="Aujourd'hui" slot="tab" data-practicer-sidebar-target="exercises">
                <%= render partial: "sessions_of_the_days/list", locals: {sessions_of_the_day: current_user.sessions_of_today} %>
            </div>

            <%# <ul class="tile-list" data-tab-title="Challenges" slot="tab"
                data-tabs-target="tab" data-practicer-sidebar-target="challenges">
              <li><b>Partie non développée pour le moment...</b><br> Patience :) !</li>
            </ul> %>

            <ul class="tile-list" data-tab-title="Vos favoris" slot="tab"
                data-tabs-target="tab" data-practicer-sidebar-target="favorites">
              <%= render partial: "shared/user_favorite", collection: current_user.favorites_populated, as: :exercise  %>
            </ul>

        </tabs-section>

        <div class="panel-footer">

        </div>
    </div>
</aside>
