<%= form_with(model: medium, local: true) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
        <% medium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-input"  %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-input" %>
  </div>


  <div class="field form-group">
    <%= form.label :file, class: "form-label" %>
    <%= form.file_field :file, class: "form-input" %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "form-input" %>
  </div>
<% end %>
