<%= form_with(model: medium, local: true, html: { data: { controller: "uploader-async" } }) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
        <% medium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if medium.persisted? %>
    fichier: <% medium.file %>
    <div class="field form-group">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-input"  %>
    </div>

    <div class="field form-group">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>
  <% else %>
    <div class="field form-group">
      <%= form.label :file, class: "form-label" %>
      <%= form.file_field :file, direct_upload: true, class: "form-input" %>
    </div>

    <div style="display: none;" data-upload-async-target="progress">
      <div>Uploading your video to our servers: <span id="progressText"
                                                        data-upload-async-target="progressText">Warming up...</span></div>
      <div id="progress-bar" style="background: gray; position: relative; width: 200px; height: 20px;">
        <div id="progressWidth" data-upload-async-target="progressWidth" style="width: 0%; height: 100%; position: absolute; background: green;">
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit nil, class: "form-input", data: { action: !medium.persisted? ? "click->uploader-async#showProgress" :  '' } %>
  </div>
<% end %>
