<%= turbo_frame_tag "medium-edit" do %>
  <%= form_with(model: medium, local: true, html: { data: { controller: "upload-async" } }) do |form| %>
    <% if medium.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

        <ul>
          <% medium.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-6 md:flex md:space-x-3">
      <div class="w-3/6">

        <div class="mb-6 field form-group">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-input w-full"  %>
        </div>

        <div class="mb-6 field form-group">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-input w-full" %>
        </div>
      </div>
      <div class="">
        <% if medium.file.representable? %>
          <%= image_tag url_for medium.file %>
        <% else %>
          <div class="empty">
            <div class="empty-icon"><i class="mdi mdi-file-outline"></i></div>
            <p class="empty-title h5">Ressource non visualisable</p>
            <div class="empty-action">

            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= form.submit nil, class: "btn btn-primary  float-right", data: { action: !medium.persisted? ? "click->uploader-async#showProgress" :  '' } %>
    </div>
  <% end %>
<% end %>
