<section class="dashboard-page container">
  <p id="notice"><%= notice %></p>

  <header class="dashboard-page__header">
    <h1> Liste des medias </h1>
    <div data-controller="popup" data-popup-active-class="active">
      <%= link_to "#", class: "btn btn-primary",
        data: { action: "click->popup#toggle", target: "#popup" } do %>
        <i class="mdi mdi-plus"></i>
        Ajouter une ressource
      <% end %>
      <div class="popup" data-popup-target="popup">
        <div class="popup__content" data-popup-target="popupContent">
          <%= turbo_frame_tag "medium-edit", src: new_medium_path, loading: :lazy do %>
            Chargement...
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <article>
    <%= turbo_frame_tag "media-list"  do %>
      <%= render partial: "list", locals: {media: @media} %>
    <% end %>
  </article>
</section>
