<section class="p-10" data-controller="popup" data-popup-inactive-class="invisible" data-popup-active-class="visible">
  <p id="notice"><%= notice %></p>
  <header class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= render partial: "shared/breadcrump", locals: {links: [
        {
          label: "Media",
          path: media_path
        }
      ]}
      %>
      <h1 class="text-4xl font-semibold text-gray-900">Media</h1>
      <p class="mt-2 text-sm text-gray-700">Retrouvez ici tout les ressources que vous avez mis en ligne.</p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to "Ajouter une ressource", "javascript:;", class: "btn btn-primary",
                  data: { action: "click->popup#toggle", target: "#popup" } %>
    </div>
  </header>

  <!-- MODAL -->
  <div class="relative invisible popup" data-popup-target="popup">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="overflow-y-auto fixed inset-0 z-10">
      <div class="flex justify-center items-end p-4 min-h-full text-center sm:items-center sm:p-0">
        <div class="overflow-hidden relative p-6 text-left bg-white rounded-lg shadow-xl transition-all transform sm:my-8 sm:w-full sm:max-w-lg"
          data-popup-target="popupContent">
            <%= turbo_frame_tag "medium-edit", src: new_medium_path, loading: :lazy do %>
            Chargement...
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <div class="flex flex-col mt-8">
    <div class="overflow-x-auto -mx-4 -my-2 sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full align-middle md:px-6 lg:px-8">
        <%= turbo_frame_tag "media-list"  do %>
          <%= render partial: "list", locals: {media: @media} %>
        <% end %>
      </div>
    </div>
  </div>
</section>
