<section class="container dashboard-page">
  <p id="notice"><%= notice %></p>

  <header class="dashboard-page__header">
    <h1> Liste des medias </h1>
    <%= link_to 'New Medium', new_medium_path %>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @media.each do |medium| %>
        <tr>
          <td><%= medium.name %></td>
          <td><%= medium.description %></td>
          <td>
            <%= link_to 'Show', medium %>
            <%= link_to 'Edit', edit_medium_path(medium) %>
            <%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</section>
