<header class="navbar container">
  <section class="navbar-section">
    <a href="<%= root_path %>" class="btn btn-link">
      Revenir sur le site
    </a>
  </section>
  <section class="navbar-center">

    <%= link_to "Mes exercises", me_exercises_path, class: "btn btn-link" %>
    <%= link_to "Liste des medias", me_media_path, class: "btn btn-link" %>
    <%= link_to "Liste des catégories", categories_path, class: "btn btn-link" if can? :manage, Category  %>

  </section>
  <section class="navbar-section">
    <%= render partial: "shared/user_dropdown" %>
  </section>
</header>
