<article class="bg-white rounded-xl px-4 py-5 sm:px-6 transition shadow-lg hover:shadow-xl">
  <header class="flex space-x-4">
    <figure class="flex-shrink-0 self-center">
      <a href="<%= user_url(exercise.user) %>" data-turbo="false">
        <%= render partial: "users/avatar", locals: {user: exercise.user, size: :large} %>
      </a>
    </figure>
    <div class="min-w-0 flex-1">
      <h2 class="text-lg font-bold">
        <%= link_to exercise.title, exercise, data: {turbo: false} %>
      </h2>
      <p class="text-sm text-gray-500 font-light">Publié par
        <a href="<%= user_url(exercise.user) %>" data-turbo="false">
          <%= exercise.user.username %>
        </a>
        le <%= l exercise.created_at, format: :short %>
      </p>
    </div>
    <div class="flex-shrink-0 self-center flex">
      <%= render partial: "shared/practicer/practice_toolbar", locals: {exercise: exercise ,extended: false} if current_user.present? %>
    </div>
  </header>

  <section class="mt-6 mb-8">
    <p><%= exercise.description.truncate(150) if exercise.description %></p>
  </section>

  <footer class="flex space-x-4 items-end">
    <div class="flex-1">
      <ul class="text-sm mr-10 flex">
        <% exercise.categories.each do |category| %>
          <li class="mr-4">
            <a href="<%= by_slug_categories_path category.slug %>"
               title="<%= category.description %>" data-turbo="false">
              <%= category.name %>
            </a>
          </li>
        <% end %>
      </ul>

      <ul class="flex-1 mt-2 text-gray-500 text-sm font-light flex pt-3 md:p-0">
        <% if exercise.level %>
          <li class="after:mx-2 after:content-['-']"><%= exercise.level %></li>
        <% end %>

        <% if exercise.duration %>
          <li class="after:mx-2 after:content-['-']"><%= Time.at(exercise.duration).utc.strftime("%H:%M") %></li>
        <% end %>

        <li><%= exercise.comments.count %> messages</li>
      </ul>
    </div>

    <div class="justify-end">
      <%= link_to "Voir l'exercice", exercise, class: "btn-primary", data: {turbo: false} %>
    </div>

  </footer>
</article>
