<%= turbo_frame_tag "#{@exercise.id}_edit_form" do %>

    <% if !notice.nil? %>
        <div id="notice toast toast-success">
            <button class="btn btn-clear float-right"></button>
            <%= notice %>
        </div>
    <% end %>

    <%= render "shared/dashboard/exercise_edit_tab", active: 'versions' %>
    
    <%= form_with(model: @exercise, local: true) do |f| %>
        <div class="columns">
            <%= f.fields_for :versions do |version| %>
                <div class="col col-4 card">
                  <%= version.hidden_field :user_id %>
                  <%= version.hidden_field :id %>
                  <div class="card-header">
                    <h2 class="card-title h5 mb-0  float-left"><%= version.object.title %></h2>
                    <div class="form-group">
                      <label class="form-switch float-right">
                        <%= version.check_box :published %>
                        <i class="form-icon"></i> published
                      </label>
                    </div>
                  </div>
                  <div class="card-image">
                    <img src="https://via.placeholder.com/800x440.png"  class="img-responsive">
                  </div>
                  <div class="card-body">
                    <%= version.object.description %>
                    <%= version.object.video_link %>
                  </div>
                </div>
            <% end %>
        </div>

        <div class="actions mt-2 form-group">
            <%= f.submit "Mettre à jour les versions", class: "form-input"  %>
        </div>
    <% end %>
<% end %>