<%
  content_for :description, "Practice room; c'est une plateforme collaborative qui permet aux musiciens de créer et améliorer leur routine de pratique."
%>
<section data-controller="hello">
  <header class="bg-gradient-to-r from-indigo-400 to-indigo-500 text-white px-10 pt-10 pb-10">
    <h1 class="text-5xl mb-5">Qu'allons nous travailler<br> aujourd'hui ?</h1>
  </header>

  <section class="p-10">
    <div class="flex items-center">
      <div class="flex-1 border-b border-gray-200">
        <%= form_with(url: search_exercises_path) do |form| %>
          <ul class="flex mb-3">
            <% @categories.each do |category| %>
              <li class="pr-6">
                <label>
                  <%= form.check_box :category_ids, {
                      multiple: true,
                      data: {action: "change->hello#search"},
                      checked: @category.present? && @category.id == category.id,
                      class: "hidden peer"
                    },
                    category.id,
                    false %>
                    <span class="peer-checked:font-bold">#<%= category.name %></span>
                </label>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="relative">
      </div>
    </div>
    <!-- Results list -->
      <%= turbo_frame_tag "results", src: list_exercises_path, loading: :lazy do %>
        <%= render partial: "exercises/search/results_skeleton" %>
      <% end %>
    <!-- END Results list -->
  </section>
</section>
