<%
  content_for :description, "Practice room; c'est une plateforme collaborative qui permet aux musiciens de créer et améliorer leur routine de pratique."
%>
<%= turbo_frame_tag "search" do %>
  <section class="exercises-index" data-controller="hello">
    <header>
      <div class="hero hero-sm">
        <div class="hero-body">
          <div class="container">
            <h1>Découvrez une nouvelle<br> façon de pratiquer</h1>
            <%= render partial: "exercises/search/search_fields" %>
          </div>
        </div>
      </div>
    </header>
    <section class="exercises-index_content container">
        <section class="columns">
          <aside class="column col-2 hide-md exercises-index_content_aside">
            <%= render partial: "exercises/search/aside", locals: {categories: @categories}%>
          </aside>
          <!-- Results list -->
          <section class="column col-md-12 col-10 exercises-index_content_main">
            <%= turbo_frame_tag "results", src: list_exercises_path, loading: :lazy do %>
              <%= render partial: "exercises/search/results_skeleton" %>
            <% end %>
          </section>
          <!-- END Results list -->
        </section>
    </section>
  </section>
<% end %>
