<section data-controller="hello">
  <%= turbo_frame_tag "search" do %>
    <%= form_with(url: search_exercises_path, data: {hello_target: "form"}) do |form| %>
        <section class="exercises-index">
          <header>
            <div class="hero hero-sm">
              <div class="hero-body">
                <div class="container">
                  <%= render partial: "exercises/search/search_fields", locals: {form: form} %>
                </div>
              </div>
            </div>
          </header>
          <section class="exercises-index_content container">
              <section class="columns">
                <aside class="column col-2 hide-md exercises-index_content_aside">
                  <div class="exercises-index_content_aside_inner">
                    <h3>Par catégorie</h3>
                    <ul class="exercises-index_content_aside_categories-filter">
                      <% @categories.each do |category| %>
                        <li class="form-group">
                          <label class="form-checkbox">
                            <%= form.check_box :category_ids, {
                                  multiple: true,
                                  data: {action: "change->hello#search"},
                                  checked: @category.present? && @category.id == category.id
                                },
                                category.id,
                                false %>
                            <i class="form-icon"></i>
                            <%= category.name %>
                          </label>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="divider"></div>
                  <div class="exercises-index_content_aside_inner">
                    <h3>Par niveau</h3>
                    <ul class="exercises-index_content_aside_levels-filter">
                      <% Exercise.levels.each do |level| %>
                        <li class="form-group">
                          <label class="form-checkbox">
                            <%= form.check_box :levels, {
                                  multiple: true,
                                  data: {action: "change->hello#search"}
                                },
                                level.second,
                                false %>
                            <i class="form-icon"></i>
                            <%= level.first %>
                          </label>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </aside>

                <!-- Results list -->
                <section class="column col-md-12 col-10 exercises-index_content_main">
                    <%= render partial: "exercises/search/list", locals: {exercises: @exercises, categories: @categories} %>
                </section>
                <!-- END Results list -->
              </section>
          </section>
        </section>
    <% end %>
  <% end %>
</section>
