<%
  content_for(:title, "Exercices")
  content_for(:description, "Retrouvez ici tout les exercices que vous avez créés.")
%>

<section class="bg-white shadow-lg rounded-lg p-6">
  <p id="notice">
    <%= notice %>
  </p>

  <div class="flex flex-col">
    <div class="overflow-x-auto -mx-4 -my-2 sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full align-middle md:px-6 lg:px-8">
        <table class="w-full min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-sm font-semibold text-left text-gray-900 sm:pl-6 md:pl-0">Titre</th>
              <th scope="col" class="hidden px-3 py-3.5 text-sm font-semibold text-left text-gray-900 md:block">Description</th>
              <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-left text-gray-900">Publié ?</th>
              <th scope="col" class="relative py-3.5 text-sm pr-4 pl-3 sm:pr-6 md:pr-0">Action</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @exercises.each do |exercise| %>
              <tr>
                <td class="py-4 pr-3 pl-4 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6 md:pl-0">
                  <%= exercise.title %>
                </td>
                <td class="hidden px-3 py-4 text-sm text-gray-500 whitespace-nowrap md:block">
                  <%= exercise.description.truncate(50) %>
                </td>
                <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                  <%= exercise.published %>
                </td>
                <td class="relative py-4 pr-4 pl-3 text-sm font-medium text-right whitespace-nowrap sm:pr-6 md:pr-0">
                  <%= link_to 'Show', exercise, class: "btn-secondary" %>
                  <%= link_to 'Edit', edit_exercise_path(exercise), class: "btn-secondary", data: {turbo_frame: :exercise_edit, action: "click->popup#open"}  %>
                  <%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-secondary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
