<section class="dashboard-page">
  <p id="notice"><%= notice %></p>

  <header class="dashboard-page__header">
      <h1> Mes exercices</h1>
      <p>
        <%= link_to 'New Exercise', new_exercise_path %>
      </p>

      <%= render partial: "shared/flash_messages" %>
    </header>
  <table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>published</th>
        <th>description</th>
        <th>action</th>
      </tr>
    </thead>

    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.title %></td>
          <td><%= exercise.published %></td>
          <td><%= exercise.description %></td>
          <td>
            <%= link_to 'Show', exercise %>
            <%= link_to 'Edit', edit_exercise_path(exercise) %>
            <%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<section>
