<section data-controller="popup" data-popup-inactive-class="invisible" data-popup-active-class="visible">
  <p id="notice"><%= notice %></p>
  <header class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-4xl font-semibold text-gray-900">Exercices</h1>
      <p class="mt-2 text-sm text-gray-700">Retrouvez ici tout les exercices que vous avez créés.</p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to "Ajouter un exercice", "javascript:;", class: "btn btn-primary",
                data: { action: "click->popup#toggle", target: "#popup" } %>
    </div>
  </header>

  <!-- MODAL -->
  <div class="relative invisible popup" data-popup-target="popup">
    <div class="fixed inset-0 z-50 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="overflow-y-auto fixed inset-0 z-50">
      <div class="flex justify-center items-end p-4 min-h-full text-center sm:items-center">
        <div class="overflow-hidden relative p-6 w-full text-left bg-white rounded-lg shadow-xl transition-all transform lg:my-8 lg:w-4/6"
          data-popup-target="popupContent">
            <%= turbo_frame_tag "exercise-edit", src: new_exercise_path, loading: :lazy do %>
              Chargement...
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <div class="flex flex-col mt-8">
    <div class="overflow-x-auto -mx-4 -my-2 sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full align-middle md:px-6 lg:px-8">
        <table class="w-full min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-sm font-semibold text-left text-gray-900 sm:pl-6 md:pl-0">title</th>
              <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-left text-gray-900">published</th>
              <th scope="col" class="hidden px-3 py-3.5 text-sm font-semibold text-left text-gray-900 md:block">description</th>
              <th scope="col" class="relative py-3.5 pr-4 pl-3 sm:pr-6 md:pr-0">action</th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <% @exercises.each do |exercise| %>
              <tr>
                <td class="py-4 pr-3 pl-4 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6 md:pl-0">
                  <%= exercise.title %>
                </td>
                <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                  <%= exercise.published %>
                </td>
                <td class="hidden px-3 py-4 text-sm text-gray-500 whitespace-nowrap md:block">
                  <%= exercise.description.truncate(50) %>
                </td>
                <td class="relative py-4 pr-4 pl-3 text-sm font-medium text-right whitespace-nowrap sm:pr-6 md:pr-0">
                  <%= link_to 'Show', exercise, class: "btn-secondary" %>
                  <%= link_to 'Edit', edit_exercise_path(exercise), class: "btn-secondary" %>
                  <%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-secondary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
