<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>

<section class="exercise-show container">
  <header class="exercise-show__header">
    <div class="columns">
      <div class="column col-4  hide-md text-right pt-2"
        data-controller="practicer-nav"
        data-practicer-nav-extended-value="false"
        data-practicer-nav-exercise-id-value="<%= @exercise.id %>">
        <%= turbo_frame_tag "action" do %>

          <div class="exercise-show__header__metas">
            <div>
              <%= link_to @exercise.user.username, user_path(@exercise.user) %><br>
              <%=  %>le <%= l @exercise.created_at, format: :short %>
            </div>
            <a href="<%= user_url(@exercise.user) %>"
               class="exercise-show__header__metas__avatar">
              <%= render partial: "users/avatar", locals: {user: @exercise.user, size: :large} %>
            </a>
          </div>
          <% if current_user.present? %>
            <div class="exercise-show__header__metas">
              <div>
                <p class="mb-0 mr-2">Temps de pratique</p>
                <input type="time" class="mr-2"
                 data-practicer-nav-target="selectedTime"
                 value="<%= @exercise.duration ? Time.at(@exercise.duration).utc.strftime("%H:%M") : "00:10" %>"/>
              </div>
              <a href="<%= add_to_practice_exercises_url(id: @exercise.id) %>"
                class="btn"
                data-turbo="true"
                data-practicer-nav-target="btn"
                data-tooltip="<%= "Ajouter à ma pratique du jour" %>">
                <i class="mdi mdi-playlist-plus"></i>
              </a>
            </div>
            <div class="exercise-show__header__metas">
              <div></div>
              <button type="button" class="btn"
                data-practicer-nav-target="btn"
                data-practicer-nav-action-param="<%= current_user.favorites.include?(@exercise.id.to_s) ? 'remove' : 'add' %>"
                data-practicer-nav-id-param="<%= @exercise.id %>"
                data-action="click->practicer-nav#favorites">
                <i class="mdi mdi-<%= current_user.favorites.include?(@exercise.id.to_s) ? 'bookmark-remove' : 'bookmark-outline' %>"></i>
              </button>
            </div>
          <% end %>
        <% end %>
        </div>

      <div class="column col-8 col-md-12">
        <% if can? :manage, @exercise %>
          <small><%= link_to 'Edit', edit_exercise_path(@exercise) %> | <%= link_to 'Destroy', @exercise, method: :delete, data: { confirm: 'Are you sure?' } %></small>
        <% end %>
        <h1 class="mt-0">
          <%= @exercise.title %>
        </h1>
        <ul class="exercise-show__header__categories">
          <% @exercise.categories.each do |category| %>
            <li>
              <a href="<%= by_slug_categories_path category.slug %>"
                 title="<%= category.description %>">
                <%= category.name %>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="exercise-show__header__infos columns col-gapless">
          <div class="column col-4 col-md-6">
            <span><%= @exercise.level %></span>
            <p class="mb-0">
              Niveau
            </p>
          </div>
          <div class="column col-4 col-md-6">
            <span><%= @exercise.versions.count %></span>
            <p class="mb-0">
              Versions
            </p>
          </div>
          <div class="column col-4 col-md-6">
            <span><%= @exercise.comments.count %></span>
            <p class="mb-0">
              Commentaires
            </p>
          </div>
        </div>

        <%= @exercise.description %>
      </div>
    </div>
  </header>

  <article>
    <header class="exercise-show__intro columns col-gapless">
      <!-- VIDEO -->
      <div class="exercise-show__intro__hero column col-md-12">
        <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>"></youtube-player>
      </div>
      <!-- VIDEO -->

      <% if @exercise.versions_enabled %>
        <!-- VERSIONS LIST -->
        <aside class="exercise-show__versions column col-4 hide-lg">
            <%= turbo_frame_tag "exercise_versions" do %>
              <%= render partial: "exercises/versions/list", locals: {versions: @exercise.versions_filtered(current_user), exercise: @exercise } %>
            <% end %>
        </aside>
        <!-- VERSIONS LIST -->
      <% end %>

      <!-- PRACTICE TOOLBAR -->
      <div class="exercise-show__practice-toolbar column col-12 show-md">
        <% if current_user.present? %>
          <%= render partial: "shared/practicer/practice_toolbar", locals: {exercise: @exercise, extended: true } %>
        <% end %>
      </div>
      <!-- PRACTICE TOOLBAR -->
    </header>

    <section class="exercise-show__content columns">
      <aside class="column col-4 col-md-12">
        <h3>Fichier partagés:</h3>
        <%= render partial: "shared/ressource_list", locals: {media: @exercise.media} %>
      </aside>
      <section class="column col-8 col-md-12">
        <%= sanitize renderHtml @exercise.body %>
      </section>
    </section>

    <div class="divider col-12"></div>
    <footer class="exercise-show__comments">
        <h2 class="text-center">
          <i class="mdi mdi-forum-outline"></i>
          Commentaires
        </h2>
        <% if user_signed_in? %>
            <%= turbo_frame_tag "comment_new" do %>
                <%= render partial: "comments/form",
                    locals: {
                      comment: Comment.new, commentable: @exercise, first: true
                    } %>
            <% end %>
        <% else %>
            <div class="empty">
                <div class="empty-icon">
                    <i class="mdi mdi-account"></i>
                </div>
                <p class="empty-title h5">Vous devez être connecter pour pouvoir commenter.</p>
                <p class="empty-subtitle">Si tu n'as pas de compte tu peux aussi t'inscrire gratuitement pour participer à la conversation.</p>
                <div class="empty-action">
                  <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary"  %>
                  <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-link"  %>
                </div>
            </div>
        <% end %>

        <!-- COMMENT LIST -->
        <%= tag.div id: "#{dom_id(@exercise)}_comments" do %>
            <%=  render partial: "comments/comment", collection: @exercise.comments.where(parent_id: nil), as: :comment  %>
        <% end %>
        <!-- END COMMENT LIST -->
    </footer>
  </article>
</section>
