<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>
<section>
  <header class="relative z-0">
    <!-- TITLE -->
    <div class="flex mb-6 space-x-4">
      <figure class="flex-shrink-0 self-center">
        <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
          <%= render partial: "users/avatar", locals: {user: @exercise.user, size: 10} %>
        </a>
      </figure>
      <div class="flex-1 min-w-0">
        <p class="text-xs font-light text-gray-500">
          le <%= l @exercise.created_at, format: :short %>
        </p>
        <h1 class="text-3xl font-bold">
          <%= link_to @exercise.title, @exercice, data: {turbo: false} %>
        </h1>
        <div class="flex mt-1 space-x-6 text-sm">
          <a href="<%= user_url(@exercise.user) %>" data-turbo="false" class="py-1 font-medium">
            <%= @exercise.user.username %>
          </a>
          <p class="py-1 pl-6 text-gray-500 border-l"><%= @exercise.user.followers.count %> abonnés</p>
        </div>
      </div>
    </div>
    <!-- END TITLE -->
  </header>
  <section>
    <!-- VIDEO AND PRACTICE TOOLS -->
    <div class="grid-cols-3 gap-8 mb-6 lg:grid">
      <div class="relative col-span-2 h-full">
        <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>">
        </youtube-player>
      </div>
      <aside class="hidden flex-col space-y-6 h-full lg:flex">
        <div class="overflow-hidden bg-white rounded-3xl border">
          <% if current_user.present? %>
            <div class="p-6">
              <%= render partial: "practices/adding_time", locals: {exercise: @exercise} %>
              <% if @exercise.goal_end.present? %>
                <div class="pt-6">
                  <p class="mb-6 text-sm font-light text-gray-600">Mise à jour de l'objectif</p>
                  <%= turbo_frame_tag "goal_setting_form" do %>
                    <%= render partial: "exercises/goal_settings/form", locals: {exercise: @exercise, goal_setting: @goal_setting} %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @exercise.media.count > 0 %>
            <div>
              <p class="m-6 text-sm font-light text-gray-600">Ressources partagées par l'auteur de l'exercice</p>
              <%= render partial: "shared/ressource_list", locals: {media: @exercise.media} %>
            <div>
          <% end %>
        </div>
      </aside>
    </div>
    <!-- VIDEO AND PRACTICE TOOLS -->
    <div class="my-3 lg:flex lg:space-x-8">
      <aside>
        <div class="p-6 w-full bg-white rounded-3xl">
          <div class="flex space-x-6">
            <div class="flex-1 mb-6">
              <h3 class="mb-1 text-xl">Versions Alternatives</h3>
              <p class="text-xs font-light text-gray-500">Découvrez ici des versions améliorées, modifiées de ce même exercice.
                Vous pouvez même proposer votre propre version !"</p>
            </div>
            <div class="self-center">
              <%= link_to new_exercise_path(original_id: @exercise), data: {turbo_frame: "exercise_versions"}, class: 'block rounded-full border p-1' do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              <% end %>
            </div>
          </div>
          <%= turbo_frame_tag "exercise_versions", src: versions_list_exercises_path(@exercise), loading: :lazy do %>
            <%= render partial: "exercises/versions/list_skeleton" %>
          <% end %>
        </div>
      </aside>
      <section class="flex-1 grow">
        <div class="max-w-none prose">
          <%= sanitize renderHtml @exercise.body %>
        </div>
      </section>
    </div>
  </section>

  <div class="relative my-8">
    <div class="flex absolute inset-0 items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="flex relative justify-center">
      <span class="px-2 text-gray-500 bg-light">Discutons en !</span>
    </div>
  </div>
  <footer class="flex space-x-8">
    <section class="flex-1">
      <% if user_signed_in? %>
        <%= turbo_frame_tag "comment_new" do %>
          <%= render partial: "comments/form",
            locals: {
              comment: Comment.new, commentable: @exercise, first: true
            } %>
        <% end %>
      <% end %>

      <!-- Turbo load comments list + Skeleton -->
      <%= turbo_frame_tag "#{dom_id(@exercise)}_comments", src: exercise_comments_path(@exercise), loading: :lazy do %>
        <%= render partial: "exercises/versions/list_skeleton" %>
      <% end %>
    </section>
  </footer>
</section>
