<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>

<section>
  <header class="w-full bg-primary-gradient text-white px-10 pt-8 pb-10">
    <div class="lg:flex">
      <div class="lg:w-4/6">
        <%= render partial: "shared/breadcrump", locals: {links: [
            {
              label: "Exercices",
              path: exercises_path
            },
            {
              label: @exercise.title,
              path: exercise_path(@exercise)
            }
          ]}
        %>
        <h1 class="text-4xl font-bold my-4">
          <%= @exercise.title %>
        </h1>
        <p class="mb-6"><%= @exercise.description %></p>
        <ul class="mb-10 text-sm flex space-x-4">
          <% @exercise.categories.each do |category| %>
            <li>
              <a href="<%= by_slug_categories_path category.slug %>" title="<%= category.description %>">
                <%= category.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="lg:w-2/6 lg:self-end ">
        <!-- METAS -->
        <div class="md:flex mt-6 mb-10 lg:justify-end">

          <div class="flex pr-6">
            <div class="mr-4 flex-shrink-0 self-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z" />
              </svg>
            </div>
            <p class="mb-0">
              <span class="text-xl font-bold"><%= @exercise.level %></span><br>
              Niveau
            </p>
          </div>

          <div class="flex pr-6">
            <div class="mr-4 flex-shrink-0 self-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
            </div>
            <p class="mb-0">
              <span class="text-xl font-bold"><%= @exercise.versions.count %></span><br>
              Versions
            </p>
          </div>

          <div class="flex">
            <div class="mr-4 flex-shrink-0 self-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
              </svg>
            </div>
            <p class="mb-0">
              <span class="text-xl font-bold"><%= @exercise.comments.count %></span>
              <br>
              Commentaires
            </p>
          </div>
        </div>
        <!-- METAS -->
      </div>
    </div>

    <!-- author info -->
    <div class="flex">
      <div class="mr-4 flex-shrink-0 self-center">
        <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
          <%= render partial: "users/avatar", locals: {user: @exercise.user, size: :large} %>
        </a>
      </div>
      <div>
        <h4 class="text-lg font-bold">
          <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
            <%= @exercise.user.username %>
          </a>
        </h4>
        <p class="text-xs font-light">Publié le <%= l @exercise.created_at, format: :short %></p>
      </div>
    </div>
    <!-- author info -->
  </header>

  <article class="lg:flex px-8 space-x-10">
    <aside class="lg:w-4/12 pt-8 pr-6">
      <tabs-section>
        <% if @exercise.versions_enabled %>
          <div slot="tab" data-tab-title="Versions alternatives">
            <!-- VERSIONS LIST -->
              <%= turbo_frame_tag "exercise_versions" do %>
                <%= render partial: "exercises/versions/list", locals: {versions: @exercise.versions_filtered(current_user), exercise: @exercise } %>
              <% end %>
            <!-- VERSIONS LIST -->
          </div>
        <% end %>

        <% if @exercise.media.count > 0 %>
          <div slot="tab" data-tab-title="Ressources">
            <h3>Fichier partagés:</h3>
            <%= render partial: "shared/ressource_list", locals: {media: @exercise.media} %>
          </div>
        <% end %>
      <tabs-section>
    </aside>

    <section class="lg:w-8/12 lg:-mt-20">
      <!-- VIDEO -->
      <header class="mb-10">
        <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>">
          <div class="bg-white rounded-xl shadow-2xl flex items-center justify-center h-96"
               slot="empty">
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 16.88V7a2 2 0 00-2-2H5a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2.88zM7 11V7a2 2 0 012-2h9a2 2 0 012 2v9a2 2 0 01-2 2h-9a2 2 0 01-2-2.88z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 7h6v6M9 15h6v6" />
              </svg>
              <p class="text-center text-sm font-light">Aucune vidéo disponible</p>
            </div>
          </div>
        </youtube-player>
      </header>
      <!-- VIDEO -->
      <% if current_user.present? %>
        <div class="mb-6">
          <%= render partial: "shared/practicer/practice_toolbar", locals: {exercise: @exercise, extended: true } %>
        </div>
      <% end %>
      <%= sanitize renderHtml @exercise.body %>
    </section>

  </article>

  <footer class="px-10 pt-10 mt-10">
    <div class="relative mb-10">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>

      <div class="relative flex justify-center">
        <h2 class="px-6 bg-gray-50 text-3xl text-gray-500"> Partage ton expérience ! </h2>
      </div>
    </div>

    <div class="md:w-4/6 md:mx-auto">
      <% if user_signed_in? %>
        <%= turbo_frame_tag "comment_new" do %>
          <%= render partial: "comments/form",
            locals: {
              comment: Comment.new, commentable: @exercise, first: true
            } %>
        <% end %>
      <% else %>
        <div class="empty">
          <div class="empty-icon">
              <i class="mdi mdi-account"></i>
          </div>
          <p class="empty-title h5">Vous devez être connecter pour pouvoir commenter.</p>
          <p class="empty-subtitle">Si tu n'as pas de compte tu peux aussi t'inscrire gratuitement pour participer à la conversation.</p>
          <div class="empty-action">
            <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary"  %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-link"  %>
          </div>
        </div>
      <% end %>

      <!-- COMMENT LIST -->
      <%= tag.div id: "#{dom_id(@exercise)}_comments" do %>
        <%=  render partial: "comments/comment", collection: @exercise.comments.where(parent_id: nil), as: :comment  %>
      <% end %>
      <!-- END COMMENT LIST -->
    </div>
  </footer>
</section>
