<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>
<header class="min-h-[50vh] mb-6 p-6 bg-primary text-white flex flex-col justify-end">
  <%= render layout: "layouts/user_heading", locals: {user: @exercise.user, posted_at: @exercise.created_at} do %>
    <h1 class="text-4xl font-medium mb-3"><%= @exercise.title %></h1>
  <% end %>

  <%= render partial: "practices/adding_time", locals: {exercise: @exercise} if current_user.present? %>
</header>

<section class="lg:flex lg:space-x-6 mb-6">
  <tabs-section class="flex-1 w-5/6">
    <div slot="tab" data-tab-title="Contenu de l'exercice">
      <% if @exercise.original %>
        <div class="flex space-x-6 col-span-3 bg-white p-4 rounded-lg items-center shadow-lg">
          <figure class="flex-shrink-0">
            <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
              <%= render partial: "users/avatar", locals: {user: @exercise.original.user, size: 12} %>
            </a>
          </figure>
          <span>
            Cet exercice est une version originale de l'exercice suivant:
            <strong><%= link_to @exercise.original.title, @exercise.original %></strong>.
          </span>
        </div>
      <% end %>

      <% if @exercise.video_link.present? %>
        <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>" class="w-full mb-6"></youtube-player>
      <% end %>

      <div class="prose">
        <%= sanitize renderHtml @exercise.body %>
      </div>
    </div>

    <div slot="tab" data-tab-title="Les versions des pratiquants">
      <%= turbo_frame_tag "exercise_versions", src: exercise_versions_path(@exercise) do %>
        <%#= render partial: "exercises/versions/list_skeleton" %>
      <% end %>
    </div>


    <div slot="tab" data-tab-title="Discussions">
      <% if user_signed_in? %>
        <%= turbo_frame_tag "comment_new" do %>
          <%= render partial: "comments/form",
                     locals: {
                       comment: Comment.new, commentable: @exercise, first: true
                     } %>
        <% end %>
      <% end %>

      <!-- Turbo load comments list + Skeleton -->
      <%= turbo_frame_tag "#{dom_id(@exercise)}_comments", src: exercise_comments_path(@exercise), loading: :lazy do %>
        <%#= render partial: "exercises/versions/list_skeleton" %>
      <% end %>
    </div>
  </tabs-section>
  <aside>
    <%= render partial: "exercises/sidebar" %>
  </aside>
</section>

<section>

</section>
