<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>
<section class="lg:grid lg:grid-cols-3 lg:gap-8">
  <article class="lg:col-span-2">
    <header class="flex flex-col h-[500px] w-full bg-indigo-600 rounded-3xl text-white p-8 justify-end relative overflow-hidden">
      <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>"></youtube-player>
      <div class="z-20">
        <div class="mb-6">
          <h1 class="text-4xl font-bold">
            <%= link_to @exercise.title, @exercice, data: {turbo: false} %>
          </h1>
          <p class="text-xs font-light text-gray-500">Publié par
            <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
              <%= @exercise.user.username %>
            </a>
            le <%= l @exercise.created_at, format: :short %>
          </p>
        </div>
        <p><%= @exercise.description %></p>
      </div>
    </header>
    <section class="my-8 lg:grid lg:grid-cols-3 lg:gap-8">
      <aside class="p-6 bg-white rounded-3xl border">
        <% if current_user.present? %>
          <button class="flex flex-col justify-center items-center mx-auto w-20 h-20 bg-indigo-500 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
            </svg>
          </button>
          <div class="my-6">
            <%= render partial: "practices/adding_time", locals: {exercise: @exercise} %>
          </div>

          <% if @exercise.goal_end.present? %>
            <%= turbo_frame_tag "goal_setting_form" do %>
              <%= render partial: "exercises/goal_settings/form", locals: {exercise: @exercise, goal_setting: @goal_setting} %>
            <% end %>
          <% end %>
        <% end %>

        <% if @exercise.media.count > 0 %>
          <div class="mt-6">
            <p class="text-sm font-light text-gray-600">Ressources partagées par l'auteur de l'exercice:</p>
            <%= render partial: "shared/ressource_list", locals: {media: @exercise.media} %>
          <div>
        <% end %>
      </aside>
      <section class="lg:col-span-2">
        <%= sanitize renderHtml @exercise.body %>
      </section>
    </section>
    <div class="relative my-8">
      <div class="flex absolute inset-0 items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="flex relative justify-center">
        <span class="px-2 text-sm text-gray-500 bg-white">Discutons en !</span>
      </div>
    </div>
    <footer>
      <% if user_signed_in? %>
        <%= turbo_frame_tag "comment_new" do %>
          <%= render partial: "comments/form",
            locals: {
              comment: Comment.new, commentable: @exercise, first: true
            } %>
        <% end %>
      <% end %>

      <!-- Turbo load comments list + Skeleton -->
      <%= turbo_frame_tag "#{dom_id(@exercise)}_comments", src: exercise_comments_path(@exercise), loading: :lazy do %>
        <%= render partial: "exercises/versions/list_skeleton" %>
      <% end %>
    </footer>
  </article>
  <aside class="h-full">
    <% if @exercise.versions_enabled %>
      <div class="bg-white rounded-3xl border">
        <header class="p-6">
          <h3 class="text-xl">Versions alternative</h3>
          <p class="text-sm font-light text-gray-600">Ici vous retrouverez des versions alternative de ce même exercice mais proposé par les autres utilisateurs de la plateforme.</p>
        </header>
        <!-- Turbo load version list + Skeleton -->
        <%= turbo_frame_tag "exercise_versions", src: versions_list_exercises_path(@exercise), loading: :lazy do %>
          <%= render partial: "exercises/versions/list_skeleton" %>
        <% end %>
      </div>
    <% end %>
  </aside>
</section>
