<%
  content_for(:title, @exercise.title)
  content_for(:description, @exercise.description)
%>
<section>
  <header class="relative z-0 p-12">
    <div class="absolute top-0 left-0 w-full -z-[100] banner-height rounded-2xl bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-primary-darker to-primary"></div>
    <div class="lg:grid grid-cols-3 gap-8 xl:gap-12">
      <div class="col-span-2 relative h-full">
        <youtube-player data-application-target="videoPlayer" video-id="<%= @exercise.video_link %>">
        </youtube-player>
        <div class="flex mb-3 space-x-4 mt-6">
          <figure class="flex-shrink-0 self-center">
            <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
              <%= render partial: "users/avatar", locals: {user: @exercise.user, size: 10} %>
            </a>
          </figure>
          <div class="flex-1 min-w-0">
            <h1 class="text-2xl font-bold">
              <%= link_to @exercise.title, @exercice, data: {turbo: false} %>
            </h1>
            <p class="text-xs font-light text-gray-500">Publié par
              <a href="<%= user_url(@exercise.user) %>" data-turbo="false">
                <%= @exercise.user.username %>
              </a>
              le <%= l @exercise.created_at, format: :short %>
            </p>
          </div>
          <div>
            <% if current_user.present? %>
              <%= render partial: "users/follows/bell", locals: {user: @exercise.user} %>
            <% end %>
          </div>
        </div>
      </div>
      <aside class="hidden lg:flex flex-col space-y-6 h-full">
        <% if @exercise.versions_enabled %>
          <h3 class="text-2xl text-white">Versions alternative</h3>
          <!-- Turbo load version list + Skeleton -->
          <%= turbo_frame_tag "exercise_versions", src: versions_list_exercises_path(@exercise), loading: :lazy do %>
            <%= render partial: "exercises/versions/list_skeleton" %>
          <% end %>
          <div class="text-center">
            <!-- buttons or inputs -->
            <%= link_to "Proposez votre version", new_exercise_path(original_id: @exercise), class: 'btn btn-secondary' if current_user.present? %>
          </div>
        <% end %>
      </aside>
    </div>
  </header>
  <section class="my-3 px-12 lg:grid lg:grid-cols-4 lg:gap-8">
    <aside class="bg-white rounded-3xl border">
      <% if current_user.present? %>
        <div class="p-6">
          <%= render partial: "practices/adding_time", locals: {exercise: @exercise} %>
          <p class="my-6 text-sm font-light text-gray-600">Mettre à jour vos objectifs</p>
          <% if @exercise.goal_end.present? %>
            <%= turbo_frame_tag "goal_setting_form" do %>
              <%= render partial: "exercises/goal_settings/form", locals: {exercise: @exercise, goal_setting: @goal_setting} %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @exercise.media.count > 0 %>
        <div class="mt-6">
          <p class="m-6 text-sm font-light text-gray-600">Ressources partagées par l'auteur de l'exercice:</p>
          <%= render partial: "shared/ressource_list", locals: {media: @exercise.media} %>
        <div>
      <% end %>
    </aside>
    <section class="lg:col-span-3">
      <%= sanitize renderHtml @exercise.body %>
    </section>
  </section>
  <div class="relative my-8">
    <div class="flex absolute inset-0 items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="flex relative justify-center">
      <span class="px-2 text-sm text-gray-500 bg-white">Discutons en !</span>
    </div>
  </div>
  <footer>
    <% if user_signed_in? %>
      <%= turbo_frame_tag "comment_new" do %>
        <%= render partial: "comments/form",
          locals: {
            comment: Comment.new, commentable: @exercise, first: true
          } %>
      <% end %>
    <% end %>

    <!-- Turbo load comments list + Skeleton -->
    <%= turbo_frame_tag "#{dom_id(@exercise)}_comments", src: exercise_comments_path(@exercise), loading: :lazy do %>
      <%= render partial: "exercises/versions/list_skeleton" %>
    <% end %>
  </footer>
</section>
