<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field form-group mb-6">
    <%= form.label "titre", class: "form-label" %>
    <%= form.text_field :title, class: "form-input"  %>
  </div>

  <div class="field form-group columns mb-6">
    <%= form.label :description, class: "form-label"  %>
    <%= form.text_area :description, class: "form-input" %>
  </div>

  <div class="md:flex">

    <div class="md:w-3/6 pr-6">
      <div class="field form-group mb-6">
        <%= form.label :categories, class: "form-label"  %>
        <%= form.select :category_ids, Category.all.collect { |x| [x.name, x.id]} , {:include_blank => false, selected_value: nil}, :multiple => true, class: "form-input" %>
      </div>


      <div class="field form-group mb-6">
        <%= form.label "Niveau", class: "form-label"  %>
        <ul>
          <% Exercise.levels.keys.each do |level| %>
            <li class="mb-3">
              <%= form.radio_button :level, level %>
              <%= form.label "#{:level}_#{level.parameterize.underscore}", level %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="md:w-3/6">
        <div class="field form-group" data-application-target="videoPreviewer">
          <%= form.label "vidéo (lien de partage youtube)", class: "form-label"  %>
          <%= form.text_field :video_link, class: "form-input mb-6" %>
          <youtube-player class="hidden md:block" data-application-target="videoPlayer" video-id="<%= exercise.video_link %>"></youtube-player>
        </div>
    </div>
  </div>

  <div class="divider text-center" data-content="contenu"></div>

  <div class="flex my-10" data-controller="markdown">
    <div class="md:w-3/6 pr-3">
      <%= form.label "Markdown", class: "form-label"  %>
      <%= form.text_area :body, class: "form-input mardown-textarea",
        data: {markdown_target: 'field', action: 'input->markdown#onChange'} %>
    </div>
    <div class="md:w-3/6 pl-3">
      <label class="form-label">Aperçu</label>
      <!-- HTML RESULT FROM MARKDOWN -->
      <div data-markdown-target="result" class="pt-1"></div>
    </div>
  </div>

  <div class="actions mt-2 form-group" data-markdown-target="result">
    <% if @exercise.persisted? %>
      <%= form.submit "Modifier l'exercice", class: "btn btn-primary  float-right" %>
    <% else %>
      <%= form.submit "Créer l'exercice", class: "btn btn-primary  float-right" %>
    <% end %>
  </div>
<% end %>
