<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>


  <div class="columns">

    <div class="column col-6">
      <div class="field form-group">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-input"  %>
      </div>

      <div class="field form-group columns">
        <div class="column">
          <%= form.label :description, class: "form-label"  %>
          <%= form.text_area :description, class: "form-input" %>
        </div>
      </div>

      <div class="field form-group">
        <%= form.label :categories, class: "form-label"  %>
        <%= form.select :category_ids, Category.all.collect { |x| [x.name, x.id]} , {:include_blank => true, selected_value: nil}, :multiple => true, class: "form-select" %>
      </div>
    </div>

    <div class="column col-6">
        <div class="field form-group">
          <%= form.label "vidéo (lien de partage youtube)", class: "form-label"  %>
          <%= form.text_field :video_link, class: "form-input"  %>
        </div>

        <div class="field form-group">
          <%= form.label :level, class: "form-label"  %>
          <% Exercise.levels.keys.each do |level| %>
            <%= form.radio_button :level, level %>
            <%= form.label "#{:level}_#{level.parameterize.underscore}", level %>
          <% end %>
        </div>

    </div>
  </div>

  <div class="divider text-center" data-content="contenu"></div>

  <div class="field form-group columns" data-controller="markdown">
    <div class="column col-6">
      <%= form.label "Markdown", class: "form-label"  %>
      <%= form.text_area :body, class: "form-input mardown-textarea",
        data: {markdown_target: 'field', action: 'input->markdown#onChange'} %>
    </div>
    <div class="column col-6">
      <label class="form-label">Aperçu</label>
      <!-- HTML RESULT FROM MARKDOWN -->
      <div data-markdown-target="result" class="pt-1"></div>
    </div>
  </div>

  <div class="actions mt-2 form-group" data-markdown-target="result">
    <% if @exercise.persisted? %>
      <%= form.submit "Modifier", class: "form-input btn btn-primary my-auto" %>
    <% else %>
      <%= form.submit "Créer", class: "form-input btn btn-primary" %>
    <% end %>
  </div>
<% end %>
