<%= form_with(model: @exercise, local: true) do |form| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% @exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="mb-6 form-group">
      <%= form.label "Vidéo youtube", class: "form-label"  %>
      <%= form.text_field :video_link, class: "form-input" %>
    </div>

    <div class="mb-6">
      <%= form.label "Contenu", class: "form-label"  %>
      <%= form.text_area :body, class: "form-input w-full" %>
    </div>
  </div>

  <div class="mt-2 actions form-group">
    <% if @exercise.persisted? %>
      <%= form.submit "Modifier l'exercice", class: "btn btn-primary  float-right" %>
    <% else %>
      <%= form.submit "Créer l'exercice", class: "btn btn-primary  float-right" %>
    <% end %>
  </div>
<% end %>
