<section class="container dashboard-page exercise-edit">
  <header class="dashboard-page__header text-center">
    <h1>Modifier l'exercice</h1>
    <%= render partial: 'exercises/form/header', locals: {exercise: @exercise, active: 'media'} %>
    <%= render partial: "shared/flash_messages" %>
  </header>

  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns exercise-edit__media">
    <div class="form-group column col-6">
      <%= form_with(model: @medium, local: true, html: { data: { controller: "upload-async" } }) do |form| %>
        <%= form.hidden_field :exercise_id, value: @exercise.id %>
        <%= form.label "Nouvelle ressource ?", class: "form-label"  %>
        <%= render partial: "shared/drag_and_drop", locals: {form: form, auto_upload: true} %>
      <% end %>
    </div>

    <div class="column col-6">
      <%= form_with(model: @exercise, local: true) do |form| %>
        <%= form.label "Choisissez vos ressources pour cet exercice:", class: "form-label"  %>
        <%= form.select :medium_ids,
                        Medium.all.collect { |x| [x.name ? x.name : x.file.filename, x.id]},
                        {:include_blank => true, selected_value: nil},
                        class: "form-input", :multiple => true %>
        <%= form.submit "Associer ces ressources à l'exercice", class: "btn btn-primary float-right"  %>
      <% end %>
    </div>
  </div>
</section>
