<section class="container dashboard-page  exercise-edit">
  <% if !notice.nil? %>
      <div id="notice toast toast-success">
          <button class="btn btn-clear float-right"></button>
          <%= notice %>
      </div>
  <% end %>

  <header class="dashboard-page__header text-center">
    <h1>Modifier l'exercice</h1>
    <%= render partial: 'exercises/form/header', locals: {exercise: @exercise, active: 'vibility'} %>
  </header>
  <%= form_with(model: @exercise, local: true) do |f| %>
    <div class="field form-group">
      <%= f.label "Mettre en ligne ?", class: "form-label"  %>
      <label class="form-switch">
        <%= f.check_box :published %>
        <i class="form-icon"></i> Mettre en ligne
      </label>
    </div>

    <div class="field form-group">
      <%= f.label "Type de visibilité:", class: "form-label"  %>
      <% Exercise.visibilities.keys.each do |visibility| %>
        <%= f.radio_button :visibility, visibility %>
        <%= f.label "#{:visibility}_#{visibility.parameterize.underscore}", visibility %>
      <% end %>
    </div>

    <div class="actions form-group mt-2 col-12">
      <%= f.submit "Enregistrer les paramètres de visibilité", class: "btn btn-primary float-right"  %>
    </div>
  <% end %>
</section>
