<%
  size = "12" if local_assigns[:size].nil?
%>
<div class="flex space-x-4">
  <figure class="flex-shrink-0">
    <a href="<%= user_url(user) %>" data-turbo="false">
      <%= render partial: "users/avatar", locals: {user: user, size: size} %>
    </a>
  </figure>
  <div class="flex-1 min-w-0">
    <p class="text-sm font-light text-gray-500 mb-1">
      Posté par <%= link_to user.username, user_url(user), data: {turbo: false}, class: "py-1 font-medium" %>, le <%= l posted_at, format: :short %>
    </p>
    <%= yield %>
  </div>
</div>
