<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full bg-light" data-controller="hello">
    <div class="flex relative"
      aria-labelledby="slide-over-title"
      data-controller="application"
      data-application-root-value="<%= root_url %>">

      <!-- Narrow -->
      <%= render "shared/narrow_sidebar" %>
      <!-- END Narrow -->

      <!-- Content area -->
      <main class="flex-1 md:h-screen md:screen md:overflow-y-auto">
        <div class="px-12">
          <%= render "shared/header" %>
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </main>
      <!-- END Content area -->
      <%= render "shared/practice_sidebar" if current_user.present? %>
    </div>
  </body>
</html>
