<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full dark:bg-gray-800">
    <div class="flex relative z-10"
      aria-labelledby="slide-over-title"
      role="dialog" aria-modal="true"
      data-controller="application"
      data-application-root-value="<%= root_url %>">

      <!-- Narrow -->
      <%= render "shared/narrow_sidebar" %>
      <!-- END Narrow -->

      <!-- Content area -->
      <div class="flex flex-col flex-1 lg:pl-20">
        <main class="relative">
          <%= render "shared/header" %>
          <%= yield %>
          <%= render "shared/footer" %>
        </main>
      </div>
      <!-- END Content area -->

      <!-- Practicer sidebar -->
      <div
        data-application-target="overlay"
        data-transition-enter="ease-in-out duration-500"
        data-transition-enter-start="opacity-0"
        data-transition-enter-end="opacity-100"
        data-transition-leave="ease-in-out duration-500"
        data-transition-leave-start="opacity-100"
        data-transition-leave-end="opacity-0"

        class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
        <%= render "shared/practicer/practice_sidebar" if current_user.present? %>
      </div>
      <!-- END Practicer sidebar -->
    </div>
  </body>
</html>
