<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full bg-light" data-controller="hello">
    <div
      aria-labelledby="slide-over-title"
      data-controller="application"
      data-application-root-value="<%= root_url %>">
      <main class="flex relative">
        <%= render "shared/header" %>
        <%= render "shared/narrow_sidebar" if current_user.present? %>
        <div class="flex relative flex-1">
          <div class="flex-1 pt-24 pr-8">
            <%= yield %>
            <%= render "shared/footer" %>
          </div>
          <%= render "shared/sidebar/#{controller_name == "users" && action_name == "index" ? 'integrated' : 'overlayed'}" %>
        </div>
      </main>
    </div>
  </body>
</html>
