<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-[712px] bg-gray-100">
    <div class="min-h-full" aria-labelledby="slide-over-title" data-controller="application popup">
      <header class="bg-primary pb-32">
        <%= render "shared/header" %>
        <div class="py-10">
          <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex items-center space-x-6">
              <% if controller_name == "users" && action_name == "show" %>
                <%= yield(:user_profile_avatar) if content_for(:user_profile_avatar) %>
              <% end %>
              <div class="flex-1 text-white flex space-x-6">
                <div class="flex-1">
                  <h1 class="text-2xl lg:text-4xl font-bold tracking-tight text-white">
                    <%= content_for?(:title) ? yield(:title) : "Qu'allons nous travailler aujourd'hui ?" %>
                  </h1>
                  <div class="flex space-x-6">
                    <p><%= content_for?(:description) ? yield(:description) : nil %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="-mt-32 pb-24">
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <%= yield %>
        </div>
        <div data-action="click->popup#clickOutside">
          <%= link_to new_exercise_path, class: "rounded-full text-white bg-primary p-3 fixed bottom-10 right-10", title: "Créer un nouvel exercice", data: {turbo_frame: :exercise_edit, action: "click->popup#open"} do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          <% end %>
          <dialog data-popup-target="dialog" class="backdrop:bg-gray-500 backdrop:opacity-75 w-full md:w-1/2 rounded-xl">
            <div  class="rounded-lg p-6">
              <%= turbo_frame_tag :exercise_edit %>
            </div>
          </dialog>
        </div>
      </main>

      <footer>
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left">
            <%= render "shared/footer" %>
          </div>
        </div>
      </footer>
      <%= render "shared/sidebar/overlayed" if current_user.present? %>
    </div>
  </body>
</html>
