<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-[712px] bg-gray-100">
    <div class="min-h-full" aria-labelledby="slide-over-title" data-controller="application">
      <header class="bg-primary pb-32">
        <%= render "shared/header" %>
        <div class="py-10">
          <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex items-center space-x-6">
              <% if controller_name == "users" && action_name == "show" %>
                <%= yield(:user_profile_avatar) if content_for(:user_profile_avatar) %>
              <% end %>
              <div class="flex-1 text-white flex space-x-6">
                <div class="flex-1">
                  <h1 class="text-2xl lg:text-4xl font-bold tracking-tight text-white pb-3">
                    <%= content_for?(:title) ? yield(:title) : "Qu'allons nous travailler aujourd'hui ?" %>
                  </h1>
                  <div class="flex space-x-6">
                    <p><%= content_for?(:description) ? yield(:description) : nil %></p>
                  </div>
                </div>
                <% if controller_name == "exercises" && action_name == "show" %>
                  <%= yield(:exercise_sidebloc) if content_for(:exercise_sidebloc) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="-mt-32 pb-24">
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <%= yield %>
        </div>
      </main>

      <footer>
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left">
            <%= render "shared/footer" %>
          </div>
        </div>
      </footer>
      <%= render "shared/sidebar/overlayed" if current_user.present? %>
    </div>
  </body>
</html>
