<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full" data-controller="application popup">
    <div>
      <%= render partial: "shared/narrow_sidebar" %>

      <main class="lg:pl-20 flex w-full items-stretch gap-x-0">
        <div class="flex-1 relative">
          <%= render partial: "shared/header" %>
          <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
            <!-- Main area -->
            <%= yield %>
          </div>
        </div>

        <!-- Secondary column (hidden on smaller screens) -->
        <aside class="sticky h-screen hidden w-3/12 shrink-0 xl:block">
          <div class="fixed h-full bg-light">
            <%= render partial: "shared/sidebar/header" %>
            <div class=" px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
              <%= render partial: "shared/sidebar/content" %>
            </div>
          </div>
        </aside>
      </main>

      <div data-action="click->popup#clickOutside">
        <dialog data-popup-target="dialog" class="backdrop:bg-gray-500 backdrop:opacity-75 w-full md:w-1/2 rounded-xl">
          <div  class="rounded-lg p-6">
            <%= turbo_frame_tag :exercise_edit %>
          </div>
        </dialog>
        <%= link_to new_exercise_path, class: "rounded-full text-white bg-primary p-3 fixed bottom-10 right-10", title: "Créer un nouvel exercice", data: {turbo_frame: :exercise_edit, action: "click->popup#open"} do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      </div>
    </div>
    <%#= render "shared/sidebar/overlayed" if current_user.present? %>
  </body>
</html>
