<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main data-controller="application" data-application-root-value="<%= root_url %>">
      <%= render "shared/navbar" %>
      <% if notice.present? %>
        <div class="toast toast-primary">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="toast toast-warning">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </main>
  </body>
</html>
