<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:description) ? yield(:description) : '' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
    <div class="flex"
      data-controller="application"
      data-application-root-value="<%= root_url %>">

      <!-- Narrow -->
      <%= render "shared/narrow_sidebar" %>
      <!-- END Narrow -->

      <!-- Content area -->
      <div class="flex flex-col flex-1 lg:pl-20">
        <main class="bg-gray-50">
          <%= yield %>
          <%= render "shared/footer" %>
        </main>
      </div>
      <!-- END Content area -->


    </div>
  </body>
</html>
