<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Bienvenue' %> - Practice Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main>
      <%= render "shared/dashboard/navbar" %>
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer class="site-footer container">
      <p class="text-center">Designed and built with <span class="text-error">♥</span> 
        by <a target="_blank" href="https://www.linkedin.com/in/websylvain/" target="_blank">Sylvain Pastor</a>.</p>
    </footer>
  </body>
</html>
